@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i');

@font-face {
    font-family: "Consolas";
    src: url(../fonts/CONSOLA.ttf) format("truetype");
}

body {
	background: #f5f8f9;
	font-family: 'Roboto Condensed', sans-serif;
}
header {
	padding: 20px;
    background: linear-gradient(45deg, #000000, #100000c7);
}

footer {
    background: #333;
    color: white;
}

a.nav-link {
    color: steelblue;
}

.nav-tabs .nav-item {
    flex: 1;
}

#main {
	padding-bottom:60px;
	height: 100vh;
}

.header {
	padding-top: 30px;
}

.header h1 {
    font-weight: bold;
    font-size: 70px;
    color:hsl(39, 100%, 62%);
    text-shadow: 1px 1px 1px #ccc;
}

.profile-box {
    border: 1px solid #07404014;
	margin-top: 70px;
	text-align: center;
	background: white;
    box-shadow: 5px 5px 5px #eeeeee80;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    min-height: 560px;
}

.profile-box .name {
    font-size: 1.7rem;
}

.profile-box .featured-image {
	padding: 10px;
        background: linear-gradient(-180deg, rgba(0, 0, 0, 0.45), #0000009c 90%), url(../media/header-bg.svg) no-repeat 50%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.profile-box .profile-info {
	padding: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
	text-align: left;
	 position: relative;
}


.profile-box .featured-image img{
	border-radius: 50%;
	height: 150px;
	margin-top: -70px;

}

.profile-box .social-icons {
	padding: 20px;
	border: 1px dashed #eee;
	text-align: left;
}

.profile-box .social-icons i {
	font-size: 30px;
	margin-right: 10px;
}

.profile-box .country {
	margin-top: 5px;
}

.profile-box .country img {
    width: 35px;
    border: solid 1px #ddd;
    height: 20px;
    position: absolute;
    top: 15px;
    right: 15px;
}

.works-box {
	border: 1px solid #07404014;
	text-align: center;
	background: white;
    box-shadow: 5px 5px 5px #eeeeee80;
    margin-top: 30px;
    min-height: 600px;
}

.works-box .wb-header {
	padding: 15px;
    background: linear-gradient(-180deg, rgba(0, 0, 0, 0.45), #0000009c 90%), url(../media/header-bg.svg) no-repeat 50%;
}

.summary-info {
	padding: 20px;
	color:#333;
	font-weight: bold;
	letter-spacing: 1px;
}

.summary-info .education {
	margin-bottom: 10px;
}

.summary-info .school {
	font-weight: bold;
}

.summary-info .school sup {
	color:blue;
}

.summary-info .tags {
	font-weight: normal;
}

.summary-info .tags .tag {
	background: #eee;
    color: #888;
    padding: 5px 10px;
    margin-right: 2px;
    margin-bottom: 7px;
    width: max-content;
    display: inline-block;
    border-radius: 20px;
    box-shadow: 1px 1px 1px #ddd;
}

.summary-info .tags h4 {
   color: hsla(45, 100%, 50%, 1);
    text-shadow: 1px 1px 1px #ccc;
}

.self-rate h2, .self-rate h3, .self-rate h4 {
    color: chocolate;
    text-shadow: 4px 4px 4px #ddd;
}

.tab-content {
	padding: 30px;
}

.tab-pane#career p {
	text-indent: 40px;
}

.rating-box {
    border: dashed 1px #ddd;
    margin-top: 25px;
}

.rates {
	padding: 20px;
}
.rates .item {
	margin-bottom: 10px;
}
.s-name, .stars {
	display: inline-block;
}

.s-name {
	font-family: 'Consolas';
	font-weight: 500;
	font-size: 16px;
}

.stars {
	float: right;
}

.fa.fa-star {
    color: #ffa50085;
}

.learning-box {
	margin-top:20px;
}

.learning-box span {
    background: #eee;
    color: #888;
    padding: 5px 10px;
    margin-right: 2px;
    margin-bottom: 7px;
    width: max-content;
    display: inline-block;
    border-radius: 20px;
    box-shadow: 1px 1px 1px #ddd;
}

.final-remarks {
	margin-top: 30px;
}

.final-remarks h2 {
	font-weight: bold;
    color: cadetblue;
	text-shadow: 0px 0px 0px #ddd;
}

.screenshots {
    margin-top:20px;
}

.slick-container .slick-item {
    max-height: 400px;
    overflow:auto;
}

.slick-container .slick-item img {
    width: 100%;
}

.slick-prev:before, .slick-next:before {
    color:black;
}

.slick-next:before {
    font-family: FontAwesome;
    content: '\f061';
}

.slick-prev:before {
    font-family: FontAwesome;
    content: '\f060';
}

@media(max-width: 425px) {
    .header {
        text-align: center;
    }
    .header h1 {
        font-size: 50px;
    }

    #menu2 img {
        margin-bottom: 10px;
    }
}

#portfolio .p-item {
    padding: 20px 40px;
    margin-bottom: 30px;
    border: 1px dashed #ddd;
}
